<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Let's chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if request.user.is_anonymous %}
            <script>
                (() => {
                    window.location.href = "{% url 'account_login' %}"
                })()
            </script>
        {% elif request.user.is_authenticated %}
            <script>
                (() => {
                    window.location.href = "{% url 'home' %}"
                })()
            </script>
        {% endif %}
        
    </body>
</html>